<section id="birds" class="birds">
    <div class="container">                
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <div class="row"><div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"><h2>Birds at Pearwoods</h2></div</div>
            <hr class="small">
            <div class="slider-for birds">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03787.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03514.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03526.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03540.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03470.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gallery birds">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03787.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03514.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03526.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03540.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a>
                            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03470.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
            <a style="display:none;" class="btn btn-dark">View More Items</a>
        </div>
    </div>
</div>
</section>