<section id="cab" class="cab">
    <div class="container">                
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="row"><div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"><h2>Cab fare</h2></div</div>
                <div class="table-container">
                <table cellspacing="0" border="0">
                    <!-- <colgroup width="169"></colgroup>
                    <colgroup width="110"></colgroup>
                    <colgroup width="94"></colgroup>
                    <colgroup span="3" width="87"></colgroup>
                    <colgroup width="135"></colgroup>
                    <colgroup width="87"></colgroup>
                    <colgroup width="136"></colgroup>
                    <colgroup width="87"></colgroup> -->
                    <tr>
                        <td height="36" align="left"><br></td>
                        <td colspan=6 align="center" valign=bottom>Pickup (or) Drop Tariff from places near Kodaikanal (One way non AC fare)</td>
                        <td align="left"><br></td>
                    </tr>
                    <tr>
                        <td class="pickup-header-cell">VEHICLE</td>
                        <td class="pickup-header-cell">DISTANCE in km</td>
                        <td class="pickup-header-cell">DURATION</td>
                        <td class="pickup-header-cell">INDICA</td>
                        <td class="pickup-header-cell">INDIGO</td>
                        <td class="pickup-header-cell">ETIOS</td>
                        <td class="pickup-header-cell">QUALIS/TAVERA</td>
                        <td class="pickup-header-cell">INNOVA</td>
                        <td class="pickup-header-cell">TEMPO TRAVELER</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Cochin</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="350" sdnum="1033;">350</td>
                        <td class="cab-row-cell" align="left" valign=bottom>10 hrs</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="7200" sdnum="1033;">7200</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="8900" sdnum="1033;">8900</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="9300" sdnum="1033;">9300</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="9900" sdnum="1033;">9900</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="10500" sdnum="1033;">10500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="11500" sdnum="1033;">11500</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Coimbatore</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="185" sdnum="1033;">185</td>
                        <td class="cab-row-cell" align="left" valign=bottom>4 h 30 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3300" sdnum="1033;">3300</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3500" sdnum="1033;">3500</td>
                        <td class="cab-row-cell" align="right" valign=middle sdval="3800" sdnum="1033;">3800</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4300" sdnum="1033;">4300</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4700" sdnum="1033;">4700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6000" sdnum="1033;">6000</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Coimbatore Airport</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="185" sdnum="1033;">185</td>
                        <td class="cab-row-cell" align="left" valign=bottom>4 h 30 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3500" sdnum="1033;">3500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3700" sdnum="1033;">3700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3950" sdnum="1033;">3950</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4500" sdnum="1033;">4500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4850" sdnum="1033;">4850</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6500" sdnum="1033;">6500</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Dindigul</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="100" sdnum="1033;">100</td>
                        <td class="cab-row-cell" align="left" valign=bottom>2 h 30 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="1800" sdnum="1033;">1800</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2000" sdnum="1033;">2000</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2400" sdnum="1033;">2400</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2850" sdnum="1033;">2850</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3150" sdnum="1033;">3150</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3900" sdnum="1033;">3900</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Kanyakumari</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="390" sdnum="1033;">390</td>
                        <td class="cab-row-cell" align="left" valign=bottom>9 h</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="5700" sdnum="1033;">5700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6700" sdnum="1033;">6700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="7300" sdnum="1033;">7300</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="7900" sdnum="1033;">7900</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="9200" sdnum="1033;">9200</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="10000" sdnum="1033;">10000</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Kodai Road</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="80" sdnum="1033;">80</td>
                        <td class="cab-row-cell" align="left" valign=bottom>2 h 30 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="1650" sdnum="1033;">1650</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="1750" sdnum="1033;">1750</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="1900" sdnum="1033;">1900</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2300" sdnum="1033;">2300</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2600" sdnum="1033;">2600</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3000" sdnum="1033;">3000</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Madurai</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="120" sdnum="1033;">120</td>
                        <td class="cab-row-cell" align="left" valign=bottom>3 h 30 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2500" sdnum="1033;">2500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2700" sdnum="1033;">2700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2850" sdnum="1033;">2850</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3300" sdnum="1033;">3300</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3550" sdnum="1033;">3550</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4000" sdnum="1033;">4000</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Madurai Airport</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="140" sdnum="1033;">140</td>
                        <td class="cab-row-cell" align="left" valign=bottom>3 h 45 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2700" sdnum="1033;">2700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2800" sdnum="1033;">2800</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2950" sdnum="1033;">2950</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3500" sdnum="1033;">3500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3700" sdnum="1033;">3700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4500" sdnum="1033;">4500</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Munnar</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="186" sdnum="1033;">186</td>
                        <td class="cab-row-cell" align="left" valign=bottom>5 h</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3600" sdnum="1033;">3600</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3900" sdnum="1033;">3900</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4200" sdnum="1033;">4200</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4850" sdnum="1033;">4850</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="5600" sdnum="1033;">5600</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6500" sdnum="1033;">6500</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Ooty</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="285" sdnum="1033;">285</td>
                        <td class="cab-row-cell" align="left" valign=bottom>8 h</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4500" sdnum="1033;">4500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4850" sdnum="1033;">4850</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="5200" sdnum="1033;">5200</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="5850" sdnum="1033;">5850</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="7000" sdnum="1033;">7000</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="8500" sdnum="1033;">8500</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Palani</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="65" sdnum="1033;">65</td>
                        <td class="cab-row-cell" align="left" valign=bottom>2 h 30 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="1600" sdnum="1033;">1600</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="1700" sdnum="1033;">1700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="1900" sdnum="1033;">1900</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2650" sdnum="1033;">2650</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="2950" sdnum="1033;">2950</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3100" sdnum="1033;">3100</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Rameshwaram</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="300" sdnum="1033;">300</td>
                        <td class="cab-row-cell" align="left" valign=bottom>8 h</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6500" sdnum="1033;">6500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6700" sdnum="1033;">6700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="7000" sdnum="1033;">7000</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="8100" sdnum="1033;">8100</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="9200" sdnum="1033;">9200</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="9800" sdnum="1033;">9800</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Trichy</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="210" sdnum="1033;">210</td>
                        <td class="cab-row-cell" align="left" valign=bottom>4 h 30 m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3800" sdnum="1033;">3800</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4200" sdnum="1033;">4200</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4500" sdnum="1033;">4500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="5600" sdnum="1033;">5600</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6400" sdnum="1033;">6400</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="7000" sdnum="1033;">7000</td>
                    </tr>
                    <tr>
                        <td class="pickup-point">Tricy Airport</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="220" sdnum="1033;">220</td>
                        <td class="cab-row-cell" align="left" valign=bottom>4 h 40m</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="3900" sdnum="1033;">3900</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4300" sdnum="1033;">4300</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="4650" sdnum="1033;">4650</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="5700" sdnum="1033;">5700</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="6500" sdnum="1033;">6500</td>
                        <td class="cab-row-cell" align="right" valign=bottom sdval="7500" sdnum="1033;">7500</td>
                    </tr>
                </table>
                <!-- ************************************************************************** -->
                <table cellspacing="0" border="0" id="tour-fare">
                    <tr>
                        <td class="pickup-header-cell">TOUR</i></b></td>
                        <td class="pickup-header-cell">INDICA</i></b></td>
                        <td class="pickup-header-cell">INDIGO</i></b></td>
                        <td class="pickup-header-cell">ETIOS</i></b></td>
                        <td class="pickup-header-cell">QUALIS/TAVERA</i></b></td>
                        <td class="pickup-header-cell">INNOVA</i></b></td>
                        <td class="pickup-header-cell">TEMPO TRAVELER</i></b></td>
                    </tr>
                    <tr>
                        <td class="cab-row-cell" align="left" valign=bottom>Valley Tour</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1600" sdnum="1033;">1600</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1750" sdnum="1033;">1750</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2000" sdnum="1033;">2000</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2300" sdnum="1033;">2300</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2500" sdnum="1033;">2500</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2950" sdnum="1033;">2950</td>
                    </tr>
                    <tr>
                        <td class="cab-row-cell" align="left" valign=bottom>Trekking Tour</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1400" sdnum="1033;">1400</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1500" sdnum="1033;">1500</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1800" sdnum="1033;">1800</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2000" sdnum="1033;">2000</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2350" sdnum="1033;">2350</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2700" sdnum="1033;">2700</td>
                    </tr>
                    <tr>
                        <td class="cab-row-cell" align="left" valign=bottom>City Tour</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1200" sdnum="1033;">1200</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1350" sdnum="1033;">1350</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1550" sdnum="1033;">1550</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1750" sdnum="1033;">1750</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1900" sdnum="1033;">1900</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2300" sdnum="1033;">2300</td>
                    </tr>
                    <tr>
                        <td class="cab-row-cell" align="left" valign=bottom>Forest Tour</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1900" sdnum="1033;">1900</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2200" sdnum="1033;">2200</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2450" sdnum="1033;">2450</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2550" sdnum="1033;">2550</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2700" sdnum="1033;">2700</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="3000" sdnum="1033;">3000</td>
                    </tr>
                    <tr>
                        <td class="cab-row-cell" align="left" valign=bottom>Village Tour</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="1950" sdnum="1033;">1950</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2200" sdnum="1033;">2200</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2400" sdnum="1033;">2400</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2600" sdnum="1033;">2600</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="2750" sdnum="1033;">2750</td>
                        <td class="cab-row-cell" align="center" valign=bottom sdval="3100" sdnum="1033;">3100</td>
                    </tr>
                </table>
                <p class="highlight">Mr.Prabhu: 95780 75961, 94884 64507</p>
                </div>
            </div>
        </div>
    </div>
</section>
