<!-- Footer -->
    <footer>
        <div class="container"  id="contact">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4 style="display:none;"><strong>Start Bootstrap</strong>
                    </h4>
                    <p>Pearwoods, Off MM Street, Building Society, Opp. Fathima Church, Kodaikanal, TamilNadu - 624 101.</p>
                    <ul class="list-unstyled">
                        <li>Enquiry <i class="fa fa-phone fa-fw"></i> (+91) 75500 22182</li>
                        <li>Front Desk <i class="fa fa-phone fa-fw"></i> (+91) 75500 22172</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="admin@pearwoods.com">admin@pearwoods.com</a>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="jay@pearwoods.com">jay@pearwoods.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/Pearwoods-133688944152581"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.tripadvisor.in/Hotel_Review-g303890-d13991187-Reviews-Pearwoods-Kodaikanal_Dindigul_District_Tamil_Nadu.html"><i class="fa fa-tripadvisor fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Pearwoods 2018</p>
                </div>
            </div>
        </div>
    </footer>