<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <img class="logo" src="/img/logo.png" alt="Hotel Pearwoods, Kodaikanal"/>
        <div>
        <h1>Pearwoods
            <!-- <div id="f2b-widget"><script src="https://www.freetobook.com/affiliates/dynamicWidget/js/widget-js.php?w_id=34744&amp;w_tkn=dWS5N9xBMtEjdnKNFhmacAJwAmB6OdO43iO9AedlHX1AY2IdJXFQZKEToU8pd" type="text/javascript"></script></div> -->
            <h4>
                A misty valley, invading pear trees, a cloud at your window, coffee on your table... 
            </h4>
            <a type="button" class="btn btn-lg btn-primary book-now" 
                href="https://app.axisrooms.com/beV2/searchHotel.html?paxInfo=2%7C0%7C%7C&allHotels=true&newBe=true&productId=126346&bookingEngineId=3418&rooms=1&searchId=-1&searchNumber=1"
                >Book my stay</a>

        </h1>
    </div>
    
    
</div>
</header>