<div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src=<%= src %>  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>