<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="row"><div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"><h2>Gallery</h2></div</div>
                <hr class="small">
                <div class="slider-for portfolio">
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03627.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03596.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03597.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03602.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03616.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03624.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03626.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03644.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03646.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03654.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03660.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03687.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03692.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03697.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03700.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03702.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03704.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>


                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03710.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03715.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/resized-h-600/DSC03723.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                </div>
                <div class="row gallery portfolio">
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03627.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03596.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03597.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03602.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03616.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03624.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03626.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03644.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03646.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03654.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03660.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>

                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03687.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03692.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03697.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03700.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03702.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03704.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>


                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03710.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03715.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                
                    <div class="col-md-6">
    <div class="portfolio-item">
        <a>
            <img class="img-portfolio img-responsive" src="img/thumbnails/DSC03723.jpg"  alt="Hotel Pearwoods, Kodaikanal" title="Hotel Pearwoods, Kodaikanal"/>
        </a>
    </div>
</div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
    </div>
</section>

