<section id="rooms" class="services bg-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="row"><div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h2>Rooms and Amenities</h2></div</div>
                    <hr class="small">
                    
                    <div class="row-eq-height row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                            <div class="service-item">
                                <br><h4>
                                    <strong>Standard</strong>
                                </h4><br>
                                <ul class="list-rooms text-left">
                                        <li>280sqft. lavish bedrooms</li>
                                        <li>32" Flat panel TV </li>
                                        <li>Shower cubicle with rain shower </li>
                                        <li>Sofa cum lounge</li>
                                    </ul>
                            </div>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="service-item">
                                <br><h4>
                                    <strong>Room with View</strong>
                                </h4><br>
                                <ul class="list-rooms text-left">
                                        <li>Valley view</li>
                                        <li>40" Flat panel TV </li>
                                        <li>Imperial furnishing with King size mattress </li>
                                        <li>Bath towels & toiletries</li> 
                                    </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row-eq-height row">
                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                            <div class="service-item">
                                <br><h4>
                                    <strong>Room with Balcony</strong>
                                </h4><br>
                                <ul class="list-rooms text-left">
                                    <li>Street view balcony</li>
                                    <li>Modern shower cubicle</li>
                                    <li>Interiors like Valley view rooms</li>
                                </ul>
                            </div>
                        </div> -->

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                            <div class="service-item">
                                <br><h4>
                                    <strong>Amenities</strong>
                                </h4><br>
                                <ul class="list-rooms text-left">
                                        <li>Complimentary breakfast</li>
                                        <li>Bon Fire upon request</li>
                                        <li>Dinner upon request(Limited option menu)</li>
                                        <li>Free Wi-Fi</li>
                                        <li>24 hour hot water supply</li>
                                        <li>Free parking</li>
                                        <li>Roof-top Dining</li>
                                    </ul>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                            <div class="service-item">
                                <br><h4>
                                    <strong>House Rules</strong>
                                </h4><br>
                                <ul class="list-rooms text-left">
                                    <li>Strictly non-smoking rooms.</li>
                                    <li>We do not serve liquor.</li>
                                    <li>Outside food not allowed in the dining area.</li>
                                    <li>We welcome families and couples. Singles not allowed.</li>
                                    <li>Public spaces like the lobby and welcome area are CCTV monitored.</li>
                                    <li>Check-in time: 1:00 PM to 8:00 PM</li>
                                    <li>Check-out time: 11:00 AM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>